* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji",
    sans-serif;
}

.Post {
  .card {
    width: 100%;
  }
  .card-body {
    background-color: antiquewhite;
  }
}
.movie-overlay {
  padding: 16px;
  position: absolute;
  background: rgba(30, 30, 30, 0.95);
  color: wheat;
}
.movie-grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  background: #3f474e;
  min-height: 100vh;
}
.MovieCard {
  height: 350px;
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #aaa;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*.MovieCard {
  height: 550px;
  width: 380px;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;
  
  border-radius: 6px;


  .movie-grid {
    background-color: #3f474e;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 35px;
  }
}*/
