* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji",
    sans-serif;
}

.Post {
  .card {
    width: 100%;
  }
  .card-body {
    background-color: antiquewhite;
  }
}

.MovieCard {
  height: 350px;
}
